<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selectAttributes</title>
</head>
<body>

        <p>
            "What attributes do you want to select to view"
        </p>
        <form action="/client", method="post">
            <p><input type="radio" name="attribute" value="housing_median_age"> housing_median_age </p>
            <p><input type="radio" name="attribute" value="total_rooms"> total_rooms </p>
            <p><input type="radio" name="attribute" value="total_bedrooms"> total_bedrooms </p>
            <p><input type="radio" name="attribute" value="population"> population </p>
            <p><input type="radio" name="attribute" value="households"> households </p>
            <p><input type="radio" name="attribute" value="median_income"> median_income </p>
            <p><input type="radio" name="attribute" value="time_to_ocean(in hour)"> time_to_ocean(in hour) </p>
            <p><input type="submit" value="Select the attributes"></p>
        </form>

        <form>

        </form>
</body>
</html>